<!DOCTYPE html>
<html ng-app="customServiceApp">
<head>
	<title>Angular starts...</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">div{font-size: 1.8em} .red{color:red}</style>
</head>
<body>
<div ng-controller = "customServiceController as addItems">
	<div>Custom Service </div>
	<input type="text" ng-model="addItems.itemQuantity" placeholder="Enter Quantity">
	<input type="text" ng-model="addItems.itemName" placeholder="Enter name">
	<button ng-click="addItems.addItem()">Add Item</button>
	


	<list-item title={{addItems.title}} my-list="addItems">
	</list-item>
	<!-- <div ng-if="addItems.errorMessage" class="red">Error: {{addItems.errorMessage}}</div> -->
	<!-- <div ng-show="addItems.errorMessage" class="red">Error: {{addItems.errorMessage}}</div> -->
	<!-- <div ng-hide="!addItems.errorMessage" class="red">Error: {{addItems.errorMessage}}</div>
</div> -->


</body>
</html>