<!DOCTYPE html>
<html ng-app="OneTimeBindingApp">
<head>
	<title>Angular starts...</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">div{font-size: 1.8em}</style>
</head>
<body>
	<div>One Time Binding</div>
	<div ng-controller="OneTimeBindingController">
	<input type="button" value="LogWatchersCount" ng-click="ShowNumberOfWatchers()"> <br>
	<input type="button" value="SetFullName" ng-click="setFullName()"> <br>
	Full Name: {{ :: fullName}}
	
	<br>
	<input type="text" ng-model="firstName">
	{{firstName}}

	</div>
</body>
</html>